@using Ecommers.Domain.Extensions
@using Ecommers.Infrastructure.Web.Models.Products
@model AttributeRenderingVM

@for (int i = 0; i < Model.MasterAttributes.Count; i++)
{
    var attr = Model.MasterAttributes[i];
    var productValues = Model.GetProductValues(int.Parse(attr.Id.ToString()));

    <!-- ID real del atributo -->
    <input type="hidden"
           name="@(Model.InputNamePrefix)[@i].MasterAttributeId"
           value="@attr.Id" />

    <div class="@(Model.CompactMode ? "" : "mb-4")">
        @switch (attr.InputType)
        {
            case "text":
                <label class="block font-semibold mb-2">
                    @attr.Name
                    @if (attr.IsRequired)
                    {
                        <span class="text-red-700">*</span>
                    }
                </label>

                <input type="text"
                       name="@(Model.InputNamePrefix)[@i].Value"
                       value="@productValues.FirstOrDefault()"
                       placeholder="@attr.Description"
                       class="w-full px-4 py-3 text-lg border-2 border-gray-300 rounded-lg
                              focus:border-olive-green-500 focus:ring-olive-green-500 outline-none transition"
                       @(attr.IsRequired ? "required" : "") />
                break;

            case "number":
                <label class="block font-semibold mb-2">
                    @attr.Name
                    @if (attr.IsRequired)
                    {
                        <span class="text-red-700">*</span>
                    }
                </label>

                <input type="number"
                       name="@(Model.InputNamePrefix)[@i].Value"
                       value="@productValues.FirstOrDefault()"
                       placeholder="@attr.Description"
                       class="w-full px-4 py-3 text-lg border-2 border-gray-300 rounded-lg
                              focus:border-olive-green-500 focus:ring-olive-green-500 outline-none transition"
                       @(attr.IsRequired ? "required" : "") />
                break;

            case "checkbox":
                <label class="flex items-center gap-3 cursor-pointer">
    
                    <input type="checkbox"
                           name="@(Model.InputNamePrefix)[@i].Value"
                           value="true"
                           @(productValues.Any(x => x.Equals("true", StringComparison.OrdinalIgnoreCase) || x.Equals("True")) ? "checked" : "")
                           class="w-12 h-6 rounded-full appearance-none bg-gray-300
                                  checked:bg-mint-green-700 relative transition
                                  before:absolute before:top-1 before:left-1
                                  before:w-4 before:h-4 before:bg-white
                                  before:rounded-full checked:before:translate-x-6" />

                    @attr.Name
                    @if (attr.IsRequired)
                    {
                        <span class="text-red-700">*</span>
                    }
                </label>
                break;

            case "select":
                <label class="block font-semibold mb-2">
                    @attr.Name
                    @if (attr.IsRequired)
                    {
                        <span class="text-red-700">*</span>
                    }
                </label>

                <select name="@(Model.InputNamePrefix)[@i].Value"
                        class="select2 w-full px-4 py-3 text-lg border-2 border-gray-300 rounded-lg
                               focus:border-olive-green-500 focus:ring-olive-green-500 outline-none transition"
                        data-selected="@productValues.FirstOrDefault()"
                        data-tags="true"
                        @(attr.IsRequired ? "required" : "")>
                    <option value="">Seleccione</option>

                    @foreach (var itemA in Model.AttributeValues.Where(x => x.AttributeId == attr.Id))
                    {
                        <option value="@AttributeValuesExtensions.GetDisplaysValue(itemA)">
                            @AttributeValuesExtensions.GetDisplaysValue(itemA)
                        </option>
                    }
                </select>
                break;

            case "multiselect":
                <label class="block font-semibold mb-2">
                    @attr.Name
                    @if (attr.IsRequired)
                    {
                        <span class="text-red-700">*</span>
                    }
                </label>

                <select name="@(Model.InputNamePrefix)[@i].Value"
                        multiple
                        class="select2 w-full px-4 py-3 text-lg border-2 border-gray-300 rounded-lg
                               focus:border-olive-green-500 focus:ring-olive-green-500 outline-none transition"
                        data-selected="@string.Join(",", productValues)"
                        data-tags="true"
                        @(attr.IsRequired ? "required" : "")>
                    <option value="">Seleccione</option>

                    @foreach (var itemA in Model.AttributeValues.Where(x => x.AttributeId == attr.Id))
                    {
                        <option value="@AttributeValuesExtensions.GetDisplaysValue(itemA)">
                            @AttributeValuesExtensions.GetDisplaysValue(itemA)
                        </option>
                    }
                </select>
                break;
        }
    </div>
}
